:root {
  --primary-color: #dc0a2d;
  --dark-color: #1d1d1d;
  --light-color: #fff;
  --gray-color: #efefef;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins-Regular", sans-serif;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 96%;
  margin: 0 auto;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.title {
  font-family: "Poppins-Bold", sans-serif;
  color: var(--light-color);
  margin: 0;
  font-size: 34px;
}

.spinner {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-list {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 40px 0px;
}
.search-section {
  width: 80%;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-color);
  border-radius: 20px;
  padding: 10px;
  background-color: var(--light-color);
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.search-container:hover {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.search-icon {
  color: var(--primary-color);
  margin-right: 10px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 20px;
  font-size: 14px;
}
.sort-container {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: var(--light-color);
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
  margin-left: 10px;
}

.sort-container:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.sort-container-alt {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: var(--light-color);
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
  margin-left: 10px;
}

.sort-container-alt:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.sort-icon {
  cursor: pointer;
  color: var(--dark-color);
}

.sort-card {
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 4px;
  width: 100px;
  align-items: center;
  position: absolute;
  top: 80;
  left: -120px;
  z-index: 1;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.sort-title {
  color: var(--light-color);
}
.sort-options {
  margin-top: 10px;
  background-color: var(--light-color);
  border-radius: 6px;
  border: 1px solid var(--gray-color);
}
.pokemon-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 auto;
  background-color: var(--light-color);
  width: 96%;
  border-radius: 20px;
  padding: 1%;
}
.pokemon-card {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--light-color);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pokemon-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.pokemon-card-link {
  text-decoration: none;
  color: var(--dark-color);
}

.pokemon-number {
  width: 100px;
  height: 16px;
  font-size: 14px;
  color: var(--dark-gray-color);
}

.pokemon-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
  margin: 0 auto;
}

.pokemon-card:hover .pokemon-image {
  transform: scale(1.3);
}

.pokemon-name {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--light-color);
  border-radius: 20px;
  color: var(--dark-color);
  transition: font-weight 0.3s ease-in-out;
}

.pokemon-card:hover .pokemon-name {
  font-weight: bold;
}
